// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@mixin button {
    font-family: $secondary-font-stack;
    font-size: 18px;
    line-height: 12px;
    font-weight: 400;
    color: $color-white;
    text-align: center;
    display: inline-block;
    background-color: $color-text-light;
    padding: $spacing-sm 30px; 
    margin: 0px;
    border: none;
    border-radius: 5px;
    width: auto;
    min-height: 36px;
    min-width: 156px;
    text-decoration: none;
    cursor: pointer;
    backdrop-filter: blur(2px);
    transition: 0.3s all ease-out;
    @include mq($until: desktop) {
        padding: 18px 20px;
    }
}

button,
.button {
    @include button;
    &:focus {
        color: $link-hover;
    }
    &:hover {
        background-color: $link-hover;
        color: $color-white;
    }
    &--white {
        font-family: $primary-font-stack;
        border-radius: 10px;
        color: $color-text-light;
        background-color: $color-white;
        padding: 18px 30px; 
        min-width: 271.86px;
        @include mq($until: tablet) {
            min-width: 202px;
        }
    }
    &--gradient {
        font-family: $primary-font-stack;
        border-radius: 10px;
        background: linear-gradient(90deg, #00ACC5 0%, #FF948B 100%);
        padding: 19px 30px;
        @include mq($until: desktop) {
            padding: 15px 30px;
        }
    }
    // &--dark {
    //     background-color: $color-primary;
    //     color: $color-primary;
    // }
    // &--transparent {
    //     background-color: transparent;
    //     color: $color-white;
    //     border: 1px solid $color-white;
    // }
}
input.button {
    font-family: $input-button;
    font-size: 18px;
    line-height: 23px;
    border-radius: 11.5411px;
    padding: 18px 30px; 
    width: 100%;
    @include mq($until: tablet) {
        line-height: 12px;
    }
}
