.section {
    &--column-icon-text {
        .section {
            &__background {
                background-color: #FFFFFF; 
                padding: 26px 0px 90px;
                @include mq($until: tablet) {
                    padding: 0px 0px 30px;
                }
            }
        }
    }
    &--services {
        .section {
            &__background {
                background-color: #FFFFFF; 
                padding: 50px 0px 90px;
                @include mq($until: tablet) {
                    padding: 27px 0px 30px;
                }
            }
        }
        .icon-text  {
            h3 {
                color: #0D326E;
                @include mq($until: tablet) {
                    color: #3C3C3C;
                }
            }
            &__heading {
                color: #0D326E;
                @include mq($until: tablet) {
                    color: #002C32;
                }
            }
        }
    }
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
        @include line-height(63px, 48px, 48px);
        text-align: center;
        width: 100%;
        margin: 0 0 10px;
    }
    p {
        text-align: center;
        width: 100%;
        &.lead {
            max-width: 517px;
            margin: 0 auto;
            @include mq($until: tablet) {
                margin: -25px auto 0;
            }
        }
    }
    &__holder {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        margin: 55px auto 0;
        @include mq($until: tablet) {
            flex-direction: column;
            margin: 30px 0 0;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;  
        width: 50%;
        max-width: 351px;
        padding: 31px 38px 66px 37px;
        margin-right: 20px;
        @include mq($until: tablet) {
            width: 100%;
            padding: 23px 45px 21px 45px;
            margin: 0 auto 15px;
            box-shadow: 0px 34px 25px #F5F3F3;
            border-radius: 20px;
        }
        &:last-child {
            margin: 0;
            @include mq($until: tablet) {
                margin: 0 auto;
            }
        }
        &:hover {
            box-shadow: 0px 34px 25px #F5F3F3; 
        }
        &.icon-box-shadow {
            box-shadow: 0px 34px 25px #F5F3F3;
        }
    }
    &__content {
        h5 {
            font-family: $primary-font-stack;
            @include font-size(20px, 20px, 20px);
            @include line-height(32px, 32px, 32px);
            margin: 0 0 5px;
            @include mq($until: tablet) {
                text-align: center;
                margin: 0 0 15px;
            }
        }

        p {
            @include line-height(28px, 27px, 27px); 
            color: #667085;
            max-width: 275px;
            text-align: left;
            @include mq($until: tablet) {
                font-size: 16px;
                text-align: center;
            }
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 76px;
        height: 73px;
        border-radius: 17px;
        margin: 0 0 24px;
        @include mq($until: tablet) {
            width: 57.26px;
            height: 55px;
            margin: 0 auto 18px;
        }
        img {
            @include mq($until: tablet) {
                object-fit: contain;
                width: 25px;
                height: 25px;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px auto 0;
        max-width: 800px;
        li {
            width: 50%;
            @include mq($until: mobileLandscape) {
                width: 100%;
            }
        }
    }
    .icon-green {
        background: linear-gradient(129.62deg, #39FFD0 4.65%, #23FFCA 10.61%, #007458 100%);
        box-shadow: 0px 11px 17px rgba(92, 245, 191, 0.25);
    }
    .icon-blue {
        background: linear-gradient(129.62deg, #8FC6FF 4.65%, #1A47DC 100%);
        box-shadow: 0px 11px 17px #D5DFFF;
    }
    .icon-yellow {
        background: linear-gradient(129.62deg, #FFBF60 4.65%, #7B4A00 100%);
        box-shadow: 0px 11px 17px rgba(242, 180, 86, 0.25);
    }
}