// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer,
.footer {
    position: relative;
    &__background {
        background-color: $color-primary;
    }
    &__container {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        padding: 76px 106px 18px;
        @include mq($until: wide-desktop) {
            padding: 76px 40px 18px;
        }
        @include mq($until: tablet) {
            padding: 29px 20px 22px;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin: 0 0 32px;
        @include mq($until: desktop) {
            flex-direction: column;
        }
        @include mq($until: tablet) {
            margin: 0 0 38px;
        }
    }
    &__logo-col {
        display: flex;
        flex-direction: column;
        width: 33.333%;
        @include mq($until: desktop) {
            width: 100%;
        }
        p {
            @include font-size(16px, 16px, 16px);
	        @include line-height(28px, 28px, 28px);
            color: $color-white;
            max-width: 398px;
            margin: 0 0 26px;
            @include mq($until: tablet) {
                margin: 0 0 24px;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    &__logo {
        display: flex;
        margin: 0 0 12px;
        img {
            width: 157px;
            height: auto;
            object-fit: contain;
        }
    }
    &__social-icon {
        display: flex;
        .social-icon {
            display: flex;
            margin-right: 30px;
            &:last-child {
                margin: 0;
            }
            &__line {
                border: 1px solid #FFF;
                margin-right: 30px;
            }
        }
    }
    &__quick-link {
        display: flex;
        flex-direction: column;
        width: 33.333%;
        max-width: 225px;
        @include mq($until: desktop) {
            width: 100%;
            max-width: 100%;
            margin: 0 0 29px;
        }
        @include mq($until: tablet) {
            margin: 0 0 29px;
        }
        h4 {
            @include font-size(25px, 25px, 25px);
	        @include line-height(38px, 38px, 38px);
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            margin: 0 0 11px;
        }
        ul {
            li {
                @include line-height(24px, 24px, 24px);
                color: #FFFFFF;
                padding: 0;
                margin: 0 0 12px;
                &:last-child {
                    margin: 0;
                }
                &::before {
                    display: none;
                }
                a {

                }
            }
        }
    }
    &__newsletter {
        display: flex;
        flex-direction: column;
        width: 33.333%;
        @include mq($until: desktop) {
            width: 100%;
        }
        h4 {
            @include font-size(25px, 25px, 25px);
	        @include line-height(38px, 38px, 38px);
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            margin: 0 0 11px;
            @include mq($until: tablet) {
                margin: 0 0 3px;
            }
        }
        p {
            @include font-size(16px, 16px, 16px);
	        @include line-height(24px, 24px, 24px);
            color: #fff;
            margin: 0 0 33px;
            @include mq($until: tablet) {
                margin: 0 0 36px;
            }
        }

        .newsletter {
            &--form {
                display: flex;
                @include mq($until: desktop) {
                    margin: 0 0 48px;
                }
                &__column {
                    display: flex;
                }
                &__field {
                    display: flex;
                    position: relative;
                    width: 100%;
                    input {
                        @include font-size(16px, 16px, 16px);
                        @include line-height(24px, 24px, 24px);
                        border-radius: 4px;
                        border: none;
                        padding: 13px 54px 13px 18px;
                        margin: 0;
                        min-height: auto;

                        &.newsletter-submit {
                            position: absolute;
                            top: 2px;
                            right: 2px;
                            width: 52px;
                            height: 46px;
                            background-color: #028193;
                            border-radius: 4px;
                            padding: 0;
                            cursor: pointer;
                        }
                    }
                    .newsletter-submit-holder {
                        position: absolute;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 54px;
                        height: 48px;
                        &::before {
                            content: "";
                            position: relative;
                            background-image: url("../img/news-letter-icon.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 24px;
                            height: 24px;
                            z-index: 9;
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        display: flex;
        border-top: 1px solid #FFF;   
    }
    &__copy-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        p {
            @include font-size(16px, 16px, 16px);
            @include line-height(24px, 24px, 24px);
            color: #FFF;
            margin: 18px 0 0;
            @include mq($until: tablet) {
                margin: 21px 0 0;
                text-align: center;
            }
        }
    }
    .whatsapp-support {
        display: flex;
        position: absolute;
        top: -40px;
        right: 40px;
        @include mq($until: tablet) {
            top: 10px;
        }
        a {
            display: flex;
            .whatsapp-icon {
                width: 100%;
                max-width: 65px;
                object-fit: contain;
            }
        }
    }
}